<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        タイトル1
      </mat-panel-title>
      <mat-panel-description>
        説明1
      </mat-panel-description>
    </mat-expansion-panel-header>
    コンテンツ1
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        タイトル2
      </mat-panel-title>
      <mat-panel-description>
        説明2
      </mat-panel-description>
    </mat-expansion-panel-header>
    コンテンツ2
  </mat-expansion-panel>

  <!-- 他のパネルを追加することができます -->
</mat-accordion>
