

mat-accordion {
    background-color: blue; /* お好みの色に変更してください */
  }
  

  mat-expansion-panel {
    background-color: red; /* お好みの色に変更してください */
  }
  

  mat-expansion-panel-header {
    background-color: green; /* お好みの色に変更してください */
  }
  